<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: HTML_head" />
	<body>
		<div class="fh5co-loader"></div>
		<div id="page">
			<div th:replace="fragments :: header"/>
			<div id="fh5co-product">
				<div class="container" style="margin-top: -100px;">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Cesta</h2>
						</div>
					</div>
					<div th:each="item : ${variantsAndQuantities}" class="row">
						<div class="col-md-4 text-right animate-box">
							<div class="product">
								<img th:src="${item.variant.picture.path}" alt="p" class="product-grid2">
							</div>
						</div>
						<div class="col-md-4 text-left animate-box">
							<div class="product">
								<div class="desc">
									<h3><a th:href="@{/item(itemId=${item.variant.item.id})}" th:text="${item.variant.item.name}"></a></h3>
									<p th:text="${item.variant.name}" style="margin-bottom: 0%;" ></p>
									<form th:action="@{/cart/update}" method="post">
										<input type="hidden" id="variantId" name="variantId" th:value="${item.variant.id}">
										<input type="hidden" id="cartId" name="cartId" th:value="${loggedCartId}">
										<button type="submit" >Update Quantity</button>
										<select name="quantity" class="btn btn-primary btn-outline btn-lg">
											<option th:each="quant : ${#numbers.sequence(1, item.variant.stock)}" th:text="${quant.toString()}"
													th:value="${quant}" th:selected="${quant==item.quantity}"></option>
										</select>
									</form>
								</div>
								<div class="desc text-right">
									<span th:text="${item.variant.item.price}+'€'" class="price text-right bottom"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 text-right fh5co-heading">
							<div class="product">
								<div class="desc">
									<h2 th:text="${totalPrice}"></h2>
								</div>
							</div>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 text-right">
							<form th:action="@{/cart/createOrder}" method="post">
								<input type="hidden" id="userId" name="userId" th:value="${loggedUserId}">
								<input type="hidden" id="cart" name="cart" th:value="${loggedCartId}">
								<button type="submit" class="btn btn-primary btn-outline btn-sm" style="margin-top: -80px;">Ordaindu</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div id="fh5co-started">
				<div class="container">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Newsletter</h2>
							<p>Just stay tune for our latest Product. Now you can subscribe</p>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2">
							<form class="form-inline">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="email" class="sr-only">Email</label>
										<input type="email" class="form-control" id="email" placeholder="Email">
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<button type="submit" class="btn btn-default btn-block">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments :: footer"/>
		</div>
		<div th:replace="fragments :: Up_Button"/>
		<div th:replace="fragments :: final_scripts"/>
	</body>
</html>

