<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>CHANGE MY PASSWORD</h1>
<form th:action="@{/user/changePassword}" method="post">
    <input type="hidden" name="userId" id="userId" th:value="${userId}" required="required">
    Type new password here: <input type="password" name="newPassword" id="newPassword" placeholder="Type new password" required="required"><br/>
    Repeat new password here: <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat new password" required="required"><br/>
    <button type="submit">Update Password!</button>
    <p th:if="${updateError == true}">An error occurred! Are you sure you typed the password correctly?</p>
</form>

</body>
</html>