<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: HTML_head" />
    <body>
        <div class="fh5co-loader"></div>
        <div id="page">
            <div th:replace="fragments :: header"/>
            <div id="fh5co-contact">
                <div class="container" style="margin-bottom: 40px">
                    <div class="row form-group">
                        <h3 class="text-center" style="margin-bottom: 40px">Pasahitza aldatu</h3>
                        <div class="col-md-6 col-md-offset-3 animate-box">
                            <form th:action="@{/user/changePassword}" method="post">
                                <input type="hidden" name="userId" id="userId" th:value="${userId}" required="required">
                                <!--<label for="newPassword">Type new password here:</label>-->
                                <input type="password" name="newPassword" id="newPassword" placeholder="Pasahitza berria sartu" required="required" class="form-control"><br/>
                                <!---<label for="repeatPassword">Repeat new password here:</label>-->
                                <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Pasahitza berria errapikatu" required="required" class="form-control"><br/>
                                <p th:if="${updateError == true}" style="color: red">Arazo bat sortu da! Pasahitz egokia sartu duzula ziur zaude?</p>
                                <div class="form-group text-right">
                                    <button class="btn btn-primary text-right" type="submit">Pasahitza aldatu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments :: footer"/>
        </div>
        <div th:replace="fragments :: Up_Button"/>
        <div th:replace="fragments :: final_scripts"/>
    </body>
</html>