<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: HTML_head" />
<body>
<div class="fh5co-loader"></div>
<div id="page">
  <div th:replace="fragments :: header"/>

  <h1> Cookieei buruzko politika </h1>
  <h3>COOKIEEI BURUZKO INFORMAZIOA</h3>
  <p>Cookie-fitxategiak eta antzeko teknologiak, hala nola web beacons edo bugs direlakoak (aurrerantzean, guztiak aipatzeko,
    “COOKIEak” hitza erabiliko da), informaziozko artxibo edo fitxategiak dira, ERABILTZAILEaren gailuan (ordenagailua,
    sakelako telefonoa, tableta...) sartzen direnak, zalantzarik gabeko modu batean gailuari lotuak. Gailu hartatik egiten
    den nabigazioaren inguruko informazioa bildu eta eskuratzeko aukera ematen dute. COOKIEen inguruko informazio gehiago:
    https://www.allaboutcookies.org/es/.

    WEBGUNEan erabilitako COOKIE-motak eta haien helburua

    WEBGUNEAK COOKIE propioak erabiltzen ditu (ERABILTZAILEAREN ekipamendu terminalera bidaltzen dira ELHUYARREK kudeatzen
    duen eta bertatik zerbitzuak ematen dituen ekipamendu edo domeinu batetik), eta orobat erabiltzen ditu hirugarrenen
    COOKIEAK (ELHUYARRETIK kanpoko beste erakunde batek kudeatzen duen ekipamendu edo domeinu batetik bidaltzen dira
    ERABILTZAILEAREN terminalera). Mota hauetakoak dira:</p>
  <hr>
  <p> COOKIE teknikoak: Cookie horiek aukera ematen diote erabiltzaileari WEBGUNEan zehar nabigatzeko eta han eskura
    dituen aukerak edo zerbitzuak baliatzeko. Horietako batzuk WEBGUNEaren kudeaketa eta eragiketa ahalbidetzeko eta
    haren funtzioak eta zerbitzuak eskura jartzeko erabiltzen dira; esaterako, datu-trafikoa eta -komunikazioa kontrolatzeko,
    saioa identifikatzeko, sarbide murriztuko alderdietara sartzeko, eskaera bat osatzen duten elementuak gogoratzeko,
    eskaera baten erosketa-prozesua egiteko, ordainketa kudeatzeko, zerbitzuaren segurtasunari lotutako iruzurra kontrolatzeko
    edo ekitaldi batean izena emateko edo parte hartzeko.</p>
  <hr>
  <p> Lehentasunen edo pertsonalizazioaren COOKIEak: Aukera ematen dute zenbait informazio gogoratzeko, ERABILTZAILEA
    zerbitzura sar dadin bere esperientzia beste ERABILTZAILE batzuenetik bereizten duten ezaugarri jakin batzuekin;
    adibidez, hizkuntza, erabiltzaileak bilaketa egiten duenean erakutsi beharreko emaitza-kopurua, zerbitzuaren itxura
    edo edukia erabilitako nabigatzaile-motaren arabera edo zerbitzua erabiltzen duen eskualdearen arabera.</p>
  <hr>
  <p> Analisi edo neurketarako COOKIEak: Cookie horiek baliatuta, haien arduradunak aukera du ERABILTZAILEak WEBGUNEan
    duen portaeraren jarraipena eta analisia egiteko, barne dela iragarkien inpaktuen kuantifikazioa. COOKIE-mota honen
    bitartez biltzen den informazioa WEBGUNEaren jarduera neurtzeko erabiltzen da, xedea dela hobekuntzak egitea,
    ERABILTZAILEen erabilera adierazten duten datuen analisiaren arabera.</p>

  <h3>Hirugarrenen COOKIEak:</h3>

  <p>WEBGUNEak Google Analytics erabiltzen du, hau da, Googlek garatutako web-analisien zerbitzu bat. Horri esker,
    ELHUYARREK jakin dezake ERABILTZAILEek nolako interakzioa duten WEBGUNEarekin, eta haren nabigazio-joerei buruz
    txostenak egin ditzake, ERABILTZAILE indibidualak identifikatu gabe.</p>
  <hr>
  <p>COOKIEek Google Analytics-en sortzen duten informazioa zuzenean bildu eta artxibatuko du Googlek bere zerbitzarietan.
    Horrenbestez, ERABILTZAILEAK WEBGUNEA erabiltzeari buruzko informazioa jasotzea eta atzemandako informazioa
    tratatzearen eta erabiltzearen helburua zehaztea Googleri bakarrik dagokio, zeinek bere izenean jarduten baitu;
    ELHUYARREK, berriz, ez du ezein kasutan informazio hori eskuratzeko aukerarik, eta Googlek bere txostenen bidez ematen
    dion informazio erantsi eta anonimorako bakarrik eskuratu ahal izango du.</p>
  <hr>
  <p>Googlek COOKIEez egiten duen erabilerari buruzko eta entitate horrek zure datu pertsonalei ematen dien tratamenduari
    buruzko informazio gehiago aurkitu ahal izango duzu esteka hauetan:</p>

  <h3>COOKIEen erabilera onartzea, ukatzea eta adostasuna ezeztatzea</h3>
  <p>ERABILTZAILEA lehenengo aldiz WEBGUNEra sartzen denean, ohartarazpen bat agertzen da, eta hari aukera emango dio (i)
    COOKIEen erabilera onartzeko; (ii) COOKIEen erabilera ukatzeko (premiazkoak izan ezik); edo (iii) lehentasunak
    konfiguratzeko, horretarako ohartarazpenak eskaintzen duen funtzioa bitartez.</p>

  <hr>
  <p>Konfiguratzeko funtzio hori ERABILTZAILEAREN eskura egongo da etengabe “Cookieei buruzko politikaren” bidez, eta
    hura erabilita ikusi ahal izango du, noiznahi, cookie-mota eta haien funtzioa, COOKIEen instalazioa aukeratu ahal
    izango du, bere lehentasunen arabera, eta lehen emandako adostasuna ezeztatu ahal izango du.</p>

  <hr>
  <p>Har ezazu kontuan ezen, hirugarrenen COOKIEak onartzen badituzu, ezabatu beharko dituzula nabigatzailearen
    aukeretatik edo hirugarren horrek berak eskainitako sistematik. Horri buruzko informazio gehiago aurkitu ahal izango
    duzu esteka hauetan:</p>
  <hr>
  <p>WEBGUNEA eskuragarri dago COOKIEei buruzko aukerak aktibatuta egon gabe ere. Hala ere, ohartarazten da ezen,
    COOKIEak errefusatu edo desinstalatuz gero, gerta daitekeela ez guztiz funtzional izatea WEBGUNEaren bidez
    ERABILTZAILEaren eskura jarritako eduki jakin batzuetarako sarbidea eta zerbitzu batzuen erabilera.</p>

  <h3>Datuen babesa</h3>
  <p>COOKIE propioen erabileraren ondorioz ELHUYARREK egiten duen edozein datu-tratamendu Pribatasun-politikaren arabera egingo da.</p>

  <hr>
  <p>Informazioa jaso dezakezu “Cookieei buruzko politika” honetan identifikatutako hirugarrenek, bere kasuan, hirugarren
    herrialdeetara egiten dituzten nazioarteko transferentziei buruz, eta beren pribatutasun-politikaren arabera zure
    datuez haiek egiten duten datu-tratamenduari buruz (ikus itzazu hirugarrenen COOKIEei dagokien atalean aipatutako
    estekak).</p>
  <hr>
  <p>WEBGUNEA eskuragarri dago COOKIEei buruzko aukerak aktibatuta egon gabe ere. Hala ere, ohartarazten da ezen,
    COOKIEak errefusatu edo desinstalatuz gero, gerta daitekeela ez guztiz funtzional izatea WEBGUNEaren bidez
    ERABILTZAILEaren eskura jarritako eduki jakin batzuetarako sarbidea eta zerbitzu batzuen erabilera.</p>
  <hr>
  <hr>
  <hr>




  <div th:replace="fragments :: footer"/>
</div>
<div th:replace="fragments :: Up_Button"/>
<div th:replace="fragments :: final_scripts"/>
</body>
</html>