<!DOCTYPE HTML>
<html>
	<head th:replace="fragments :: HTML_head" />
	<body>
		<div class="fh5co-loader"></div>
		<div id="page">
			<div th:replace="fragments :: header"/>
			<div id="fh5co-product">
				<div class="container" style="margin-top: -100px;">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Cesta</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-right animate-box">
							<div class="product">
								<img src="../images/product-1.jpg" alt="p" class="product-grid2">
							</div>
						</div>
						<div class="col-md-4 text-left animate-box">
							<div class="product">
								<div class="desc">
									<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
									<p style="margin-bottom: 0%;">Talla: 42.5</p>
									<p style="margin-top: 0%;">Color: Royal Blue&White</p>

								</div>
								<div class="desc text-right">
									<span class="price text-right bottom">500€</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-right animate-box">
							<div class="product">
								<img src="../images/product-1.jpg" alt="p" class="product-grid2">
							</div>
						</div>
						<div class="col-md-4 text-left animate-box">
							<div class="product">
								<div class="desc">
									<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
									<p style="margin-bottom: 0%;">Talla: 42.5</p>
									<p style="margin-top: 0%;">Color: Royal Blue&White</p>

								</div>
								<div class="desc text-right">
									<span class="price text-right bottom">500€</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-right animate-box">
							<div class="product">
								<img src="../images/product-1.jpg" alt="p" class="product-grid2">
							</div>
						</div>
						<div class="col-md-4 text-left animate-box">
							<div class="product">
								<div class="desc">
									<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
									<p style="margin-bottom: 0%;">Talla: 42.5</p>
									<p style="margin-top: 0%;">Color: Royal Blue&White</p>

								</div>
								<div class="desc text-right">
									<span class="price text-right bottom">500€</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 text-right fh5co-heading">
							<div class="product">
								<div class="desc">
									<h2>TOTAL: 1500€</h2>
								</div>
							</div>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 text-right">
							<a href="#" class="btn btn-primary btn-outline btn-sm" style="margin-top: -80px;">ORDAINDU</a>
						</div>
					</div>
				</div>
			</div>

			<div id="fh5co-started">
				<div class="container">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Newsletter</h2>
							<p>Just stay tune for our latest Product. Now you can subscribe</p>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2">
							<form class="form-inline">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="email" class="sr-only">Email</label>
										<input type="email" class="form-control" id="email" placeholder="Email">
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<button type="submit" class="btn btn-default btn-block">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="fragments :: footer"/>
		</div>
		<div th:replace="fragments :: Up_Button"/>
		<div th:replace="fragments :: final_scripts"/>
	</body>
</html>

