<!DOCTYPE HTML>
<html>
	<head th:replace="fragments :: HTML_head" />
	<body>
		
		<div class="fh5co-loader"></div>
		<div id="page">
			<div th:replace="fragments :: header"/>

			<div id="fh5co-product">
				<div class="container" style="margin-top: -100px;">
					<div class="row animate-box">
						<div class="col-md-4 col-md-offset-0 text-center fh5co-heading">
							<h2>Cesta</h2>
						</div>
						<div class="col-md-4 col-md-offset-0 text-center fh5co-heading">
							<h2>Información de facturación</h2>
						</div>
						<div class="col-md-4 col-md-offset-0 text-center fh5co-heading">
							<h2>Información de envío</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 animate-box">
							<div class="product">
								<div class="row">
									<div class="col-md-6 text-right">
										<img src="../images/product-1.jpg" alt="p" class="product-grid2">
									</div>
									<div class="col-md-6 desc">
										<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
										<span class="price text-right">500€</span>
									</div>
								</div>
							</div>
							<div class="product">
								<div class="row">
									<div class="col-md-6 text-right">
										<img src="../images/product-1.jpg" alt="p" class="product-grid2">
									</div>
									<div class="col-md-6 desc">
										<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
										<span class="price text-right">500€</span>
									</div>
								</div>
							</div>
							<div class="product">
								<div class="row">
									<div class="col-md-6 text-right">
										<img src="../images/product-1.jpg" alt="p" class="product-grid2">
									</div>
									<div class="col-md-6 desc">
										<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
										<span class="price text-right">500€</span>
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-4 animate-box" style="margin-top: 10px;">
							<form action="#">
								<div class="row form-group">
									<div class="col-md-6">
										<input type="text" id="fname" class="form-control" placeholder="Izena">
									</div>
									<div class="col-md-6">
										<input type="text" id="lname" class="form-control" placeholder="Abizena">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-12">
										<input type="text" id="street" class="form-control" placeholder="Kalea">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-4">
										<input type="text" id="streetNumber" class="form-control" placeholder="Nº">
									</div>
									<div class="col-md-4">
										<input type="text" id="floor" class="form-control" placeholder="Solairua">
									</div>
									<div class="col-md-4">
										<input type="text" id="door" class="form-control" placeholder="Atea">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-4">
										<input type="text" id="city" class="form-control" placeholder="Herria">
									</div>
									<div class="col-md-4">
										<input type="text" id="postcode" class="form-control" placeholder="Posta Kodea">
									</div>
									<div class="col-md-4">
										<input type="text" id="region" class="form-control" placeholder="Probintzia">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-12">
										<input type="text" id="country" class="form-control" placeholder="Herrialdea">
									</div>
								</div>
								<div class="form-group text-right">
									<input type="submit" value="Editatu" class="btn btn-primary">
								</div>
							</form>
						</div>
						<div class="col-md-4 animate-box" style="margin-top: 10px;">
							<form action="#">
								<div class="row form-group">
									<div class="col-md-6">
										<input type="text" id="fname" class="form-control" placeholder="Izena">
									</div>
									<div class="col-md-6">
										<input type="text" id="lname" class="form-control" placeholder="Abizena">
									</div>
								</div>

								<div class="row form-group">
									<div class="col-md-12">
										<input type="text" id="street" class="form-control" placeholder="Kalea">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-4">
										<input type="text" id="streetNumber" class="form-control" placeholder="Nº">
									</div>
									<div class="col-md-4">
										<input type="text" id="floor" class="form-control" placeholder="Solairua">
									</div>
									<div class="col-md-4">
										<input type="text" id="door" class="form-control" placeholder="Atea">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-4">
										<input type="text" id="city" class="form-control" placeholder="Herria">
									</div>
									<div class="col-md-4">
										<input type="text" id="postcode" class="form-control" placeholder="Posta Kodea">
									</div>
									<div class="col-md-4">
										<input type="text" id="region" class="form-control" placeholder="Probintzia">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-12">
										<input type="text" id="country" class="form-control" placeholder="Herrialdea">
									</div>
								</div>
								<div class="form-group text-right">
									<input type="submit" value="Editatu" class="btn btn-primary">
								</div>
							</form>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-12 col-md-offset-0 text-center fh5co-heading" style="margin-top: 20px;">
							<h2>Método de pago</h2>
						</div>
						<div class="animate-box" style="margin-top: -60px;">
							<form action="#">
								<div class="row form-group">
									<div class="col-md-6 col-md-offset-3">
										<input type="text" id="card" class="form-control" placeholder="Número de la tarjeta">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-3 col-md-offset-3">
										<input type="date" id="cad" class="form-control" placeholder="Cad.">
									</div>
									<div class="col-md-3">
										<input type="password" id="cvc" class="form-control" placeholder="CVC">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-3 col-md-offset-3">
										<input type="submit" value="Ordaindu" class="btn btn-primary">
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>

			<div id="fh5co-started">
				<div class="container">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Newsletter</h2>
							<p>Just stay tune for our latest Product. Now you can subscribe</p>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2">
							<form class="form-inline">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="email" class="sr-only">Email</label>
										<input type="email" class="form-control" id="email" placeholder="Email">
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<button type="submit" class="btn btn-default btn-block">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="fragments :: footer"/>
		</div>
		<div th:replace="fragments :: Up_Button"/>
		<div th:replace="fragments :: final_scripts"/>
	</body>
</html>

