<!DOCTYPE HTML>
<html>
	<head th:replace="fragments :: HTML_head" />
	<body>
		
		<div class="fh5co-loader"></div>
		<div id="page">
			<div th:replace="fragments :: header"/>

			<div id="fh5co-product">
				<div class="container" style="margin-top: -110px;">
					<div class="row animate-box">
						<div class="col-md-4 col-md-offset-0 text-left fh5co-heading">
							<span>Resultado de la busqueda: zapatillas</span>
						</div>
						<div class="col-md-4 col-md-offset-0 text-center fh5co-heading">
							<h2>Tiendas</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-center animate-box">
							<div class="product">
								<div class="product-grid" style="background-image:url(static/images/Gasparina-Valencia.-Estudio-Huuun.-Miguel-Lozano-de-la-Mota-Retail-exposición-tienda-de-moda-.jpg);">
									<div class="inner">
										<p>
											<a href="item.html" class="icon"><i class="icon-eye"></i></a>
										</p>
									</div>
								</div>
								<div class="desc">
									<h3><a href="item.html">Zapateria mosiso</a></h3>
									<span>Calle montaculo 7A</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="product">
								<div class="product-grid" style="background-image:url(../static/images/tienda_abarca_shoes_madrid_web-17.jpeg);">
									<div class="inner">
										<p>
											<a href="item.html" class="icon"><i class="icon-eye"></i></a>
										</p>
									</div>
								</div>
								<div class="desc">
									<h3><a href="item.html">Calzados encarna</a></h3>
									<span>Calle chimenea 3 bajo</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center animate-box">
							<div class="product">
								<div class="product-grid" style="background-image:url(../static/images/Jane_Loc_10122015_accessories_people_SO_jw_v1._V298374815_.jpg);">
									<div class="inner">
										<p>
											<a href="item.html" class="icon"><i class="icon-eye"></i></a>
										</p>
									</div>
								</div>
								<div class="desc">
									<h3><a href="item.html">Calzados Juan</a></h3>
									<span>Calle pepito grillo 18</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container" style="margin-top: 30px;">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Productos</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-center animate-box">
							<div class="product">
								<div class="product-grid" style="background-image:url(../static/images/product-1.jpg);">
									<div class="inner">
										<p>
											<a href="item.html" class="icon"><i class="icon-shopping-cart"></i></a>
											<a href="item.html" class="icon"><i class="icon-eye"></i></a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 text-left animate-box">
							<div class="product">
								<div class="desc">
									<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
									<span class="price">500€</span>
									<p>Known for their hard-wearing and durable garments, Pennsylvania-based Camber® was established in 1948, operating within the same factory ever since and rising to sought-after cult-status with a wide selection of US-made outdoor workwear and sports-approved apparel. Now, SNS partners with the legacy sportswear brand for a collection.</p>
								</div>
								<div class="desc text-right">
									<h3>Tienda</h3>
									<span>Calle de la tienda</span>
									<p>Iurreta, 48215</p>

								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-4 text-center animate-box">
							<div class="product">
								<div class="product-grid" style="background-image:url(../static/images/product-1.jpg);">
									<div class="inner">
										<p>
											<a href="item.html" class="icon"><i class="icon-shopping-cart"></i></a>
											<a href="item.html" class="icon"><i class="icon-eye"></i></a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 text-left animate-box">
							<div class="product">
								<div class="desc">
									<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
									<span class="price">500€</span>
									<p>Known for their hard-wearing and durable garments, Pennsylvania-based Camber® was established in 1948, operating within the same factory ever since and rising to sought-after cult-status with a wide selection of US-made outdoor workwear and sports-approved apparel. Now, SNS partners with the legacy sportswear brand for a collection.</p>
								</div>
								<div class="desc text-right">
									<h3>Tienda</h3>
									<span>Calle de la tienda</span>
									<p>Iurreta, 48215</p>

								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-4 text-center animate-box">
							<div class="product">
								<div class="product-grid" style="background-image:url(../static/images/product-1.jpg);">
									<div class="inner">
										<p>
											<a href="item.html" class="icon"><i class="icon-shopping-cart"></i></a>
											<a href="item.html" class="icon"><i class="icon-eye"></i></a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 text-left animate-box">
							<div class="product">
								<div class="desc">
									<h3><a href="item.html">Jordan 1 Retro High OG Hyper Royal</a></h3>
									<span class="price">500€</span>
									<p>Known for their hard-wearing and durable garments, Pennsylvania-based Camber® was established in 1948, operating within the same factory ever since and rising to sought-after cult-status with a wide selection of US-made outdoor workwear and sports-approved apparel. Now, SNS partners with the legacy sportswear brand for a collection.</p>
								</div>
								<div class="desc text-right">
									<h3>Tienda</h3>
									<span>Calle de la tienda</span>
									<p>Iurreta, 48215</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fh5co-started">
				<div class="container">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Newsletter</h2>
							<p>Just stay tune for our latest Product. Now you can subscribe</p>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2">
							<form class="form-inline">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="email" class="sr-only">Email</label>
										<input type="email" class="form-control" id="email" placeholder="Email">
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<button type="submit" class="btn btn-default btn-block">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="fragments :: footer"/>
		</div>
		<div th:replace="fragments :: Up_Button"/>
		<div th:replace="fragments :: final_scripts"/>
	</body>
</html>

