<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: HTML_head" />
    <body>
        <div class="fh5co-loader"></div>
        <div id="page">
            <div th:replace="fragments :: header"/>
            <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm2" role="banner" style="background-image:url(images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 text-left" data-animate-effect="fadeIn">
                            <div class="display-t">
                                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                    <img src="images/Gasparina-Valencia.-Estudio-Huuun.-Miguel-Lozano-de-la-Mota-Retail-exposición-tienda-de-moda-.jpg" class="shopimg" alt="shopphoto">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 text-right">
                            <div class="display-t">
                                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                    <h1>CALZADOS PEPE</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div id="fh5co-about">
                <div class="container" style="margin-top: -50px;">
                    <div class="row animate-box">
                        <div class="col-md-12 text-center fh5co-heading">
                            <h2>Dendako produktuak</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 animate-box">
                            <div class="row">
                                <div class="col-md-3 text-right animate-box">
                                    <div class="product">
                                        <img src="images/product-1.jpg" alt="p" class="product-grid2">
                                    </div>
                                </div>
                                <div class="col-md-3 text-left animate-box">
                                    <div class="product">
                                        <div class="desc">
                                            <h3>Lavadora Chetadisima 4K</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - M</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - M</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container" style="margin-top: 15px;">
                                    <div class="col-md-6 text-center animate-box">
                                        <button href="#" class=" btn btn-primary icon"><i class="icon-edit"></i></button>
                                        <button href="#" class="btn btn-danger icon"><i class="icon-cross"></i></button>
                                    </div>
                                </div>

                            </div>
                            <hr>
                        </div>
                        <div class="col-md-12 animate-box">
                            <div class="row">
                                <div class="col-md-3 text-right animate-box">
                                    <div class="product">
                                        <img src="images/product-1.jpg" alt="p" class="product-grid2">
                                    </div>
                                </div>
                                <div class="col-md-3 text-left animate-box">
                                    <div class="product">
                                        <div class="desc">
                                            <h3>Lavadora Chetadisima 4K</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - M</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - M</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container" style="margin-top: 15px;">
                                    <div class="col-md-6 text-center animate-box">
                                        <button href="#" class=" btn btn-primary icon"><i class="icon-edit"></i></button>
                                        <button href="#" class="btn btn-danger icon"><i class="icon-cross"></i></button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-12 animate-box">
                            <div class="row">
                                <div class="col-md-3 text-right animate-box">
                                    <div class="product">
                                        <img src="images/product-1.jpg" alt="p" class="product-grid2">
                                    </div>
                                </div>
                                <div class="col-md-3 text-left animate-box">
                                    <div class="product">
                                        <div class="desc">
                                            <h3>Lavadora Chetadisima 4K</h3>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - M</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - S</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Rojo - M</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container" style="margin-top: 15px;">
                                    <div class="col-md-6 text-center animate-box">
                                        <button href="#" class=" btn btn-primary icon"><i class="icon-edit"></i></button>
                                        <button href="#" class="btn btn-danger icon"><i class="icon-cross"></i></button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>


                    </div>
                </div>
            </div>

            <div th:replace="fragments :: footer"/>
        </div>
        <div th:replace="fragments :: Up_Button"/>
        <div th:replace="fragments :: final_scripts"/>
    </body>
</html>

