<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: HTML_head" />
<body>
<div class="fh5co-loader"></div>
<div id="page">
    <div th:replace="fragments :: header"/>
    <div id="fh5co-product">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-7 text-right fh5co-heading">
                    <h2 th:text="'ESKARIA: ' + ${order.id}"></h2>
                </div>
                <form th:if="${order.shopOrderStatus.name()} != 'DELIVERED' and ${order.shopOrderStatus.name()} != 'CANCELLED'" th:action="@{/order/edit/changeStatus}" method="post">
                    <div class="col-md-3 text-right">
                        <input type="hidden" name="orderId" th:value="${order.id}">
                        <select th:field="${order.shopOrderStatus}" class="btn" style="font-size: 16px;">
                            <option th:each="statusOpt : ${T(com.telcreat.aio.model.ShopOrder.ShopOrderStatus).values}" th:value="${statusOpt}" th:text="${statusOpt}"></option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn">Egoera aldatu</button>
                    </div>
                </form>
            </div>
            <div th:each="variant : ${orderVariantQuantList}" class="row product">
                <div class="col-md-2 col-md-offset-2 animate-box">
                    <div class="product-grid3" th:style="'background-image:url(' + ${variant.variant.picture.path} + ');'">
						<span class="sale">
							<span th:if="${order.shopOrderStatus.name()}=='BIDEAN'" th:text="${order.shopOrderStatus.name()}" class="girau" style="font-size: 14px;top: -69px;left: -1px;"></span>
							<span th:if="${order.shopOrderStatus.name()}=='BAIEZTATZEKE'" th:text="${order.shopOrderStatus.name()}" class="girau" style="font-size: 11px;top: -63px;left: -15px;"></span>
							<span th:if="${order.shopOrderStatus.name()}=='ENTREGATUTA'" th:text="${order.shopOrderStatus.name()}" class="girau" style="font-size: 11px;top: -65px;left: -11px;"></span>
							<span th:if="${order.shopOrderStatus.name()}=='PRESTATZEN'" th:text="${order.shopOrderStatus.name()}" class="girau"></span>
							<span th:if="${order.shopOrderStatus.name()}=='PRESTATUTA'" th:text="${order.shopOrderStatus.name()}" class="girau"></span>
							<span th:if="${order.shopOrderStatus.name()}=='EZEZTATUTA'" th:text="${order.shopOrderStatus.name()}" class="girau"></span>
							<span th:if="${order.shopOrderStatus.name()}=='BAIEZTATUTA'" th:text="${order.shopOrderStatus.name()}" class="girau"></span>
						</span>
                    </div>
                </div>
                <div class="col-md-4 text-left animate-box">
                    <div class="desc">
                        <h3><a th:href="@{/item(itemId=${variant.variant.item.id})}" th:text="${variant.variant.item.name}"></a></h3>
                        <p th:text="${variant.variant.name}" style="margin-bottom: 0%;"></p>
                        <p th:text="'Kopurua: ' + ${variant.quantity}" style="margin-bottom: 0%;"></p>
                        <p th:text="'Eskariaren data: ' + ${order.orderingDateTime}" style="margin-top: 0%;margin-bottom: 0%;"></p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"/>
</div>
<div th:replace="fragments :: Up_Button"/>
<div th:replace="fragments :: final_scripts"/>
</body>
</html>
