<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments :: HTML_head" />
  <body>
    <div class="fh5co-loader"></div>
    <div id="page">
      <div th:replace="fragments :: header"/>

      <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">PRIBATUTASUN POLITIKA</h1>
        <p>
          Pribatutasun-politika honek (aurrerantzean, “PRIBATUTASUN-POLITIKA”) arautzen ditu, oro har, AllInOneCommerce-k
          (aurrerantzean, “AllInOneCommerce”) egiten duen datu pertsonalen bilketa eta tratamendua. (I) Datu pertsonal
          horiek zuk ematen dizkiguzu, www.AllInOneCommerce.com domeinu-izenaren bidez sarbidea duen webgunearen erabiltzaile
          zaren aldetik (aurrerantzean, “WEBGUNEA”), barne direla (i) WEBGUNEAREN bidez une bakoitzean eskuragarri dauden
          zerbitzuak eta (ii) orain behar bezala identifikatuko diren beste sistema batzuen bidez bildutako beste datu
          batzuk. Horretaz guztiaz gainera, kontuan hartzekoak dira atal, formulario edo webguneko zerbitzu batzuetan
          jasotako berariazko aurreikuspenak, zeinen bidez informazioa ematen baitzaizu, eta, hala dagokionean, onespena
          eskatu.
        </p>
        <p>
          Lege-, jurisprudentzia- edo administrazio-eskakizun berriei eta WEBGUNEAREN bidez une bakoitzean gauzatuko diren
          jarduerei erantzuteko, PRIBATUTASUN-POLITIKA aldatzeko eskubidea du AllInOneCommerce-k, betiere zure eskubideak
          eta interesak une oro kontuan izanda.
        </p>
        <p>
          Dena den, bere PRIBATUTASUN-POLITIKAN sartzeko baliabide tekniko guztiak emango dizkizu AllInOneCommerce-k,
          datuak babesteko araudian jasotzen diren informazio-betebeharrak behar bezala betetzeko.
        </p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <h3>1. Nor da zure datuen tratamenduaren arduraduna?</h3>
        <p>
          Zure datuen tratamenduaren arduraduna AllInOneCommerce da (Helbidea: Zelai Haundi 3, Osinalde industrialdea,
          Usurbil, Gipuzkoa. Euskal Autonomia Erkidegoko Fundazioen Erregistroan inskribatua F134 zenbakiarekin. IFK: G-20780896).
        </p>
        <p>
          PRIBATUTASUN-POLITIKARI edo zure datu pertsonalen tratamenduari buruzko galderarik baduzu, jarri gurekin
          harremanetan goian adierazitako helbidean edo helbide elektroniko honetan: info@AllInOneCommerce.com
        </p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <h3>2. Nola lortu ditugu zure datuak?</h3>
        <p>
          AllInOneCommerce-n tratatzen ditugun datuak zerorrek emanak dira, eta bide hauetatik jaso ditugu: (i) WEBGUNEAN
          edo beste kanal batzuetan nabigatzen ari zarela betetzen dituzun formularioen bidez (WEBGUNEAREN erabiltzaile
          moduan erregistratzen zarenean –halakorik badago–, harremanetarako formularioetan, lehiaketetan izena emateko
          formularioetan, AllInOneCommerce-k antolatutako ekitaldietan, lan-eskaintzetako edo hautaketa-prozesuetako
          formularioetan eta abar); (ii) kontsultako mezu elektronikoen bidez; edo (iii) behar bezala identifikatutako
          beste sistema batzuen bidez (hala nola gure instalazioetako bideozaintza-sistemaren bidez).
        </p>
        <p>
          Emandako datu pertsonalak hirugarren batenak baldin badira, ziurtatzen duzu hirugarren horri PRIBATUTASUN-POLITIKA
          jakinarazi diozula, eta haren baimena jaso duzula AllInOneCommerce-eri datuok emateko, aurrerago zehazten diren
          helburuetarako.
        </p>
        <p>
          Horretaz gainera, jakinarazten dizugu zure sare sozialetako datuak ere balia ditzakegula AllInOneCommerce-k
          sare sozial bakoitzean dituen profil korporatiboen bidez, betiere sare sozial bakoitzean zehaztutako baldintzetan.
        </p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <h3>3. Zer motatako datuak tratatzen ditugu?</h3>
        <p>
          AllInOneCommerce-n tratatzen ditugun datuak zerorrek emanak dira, eta bide hauetatik jaso ditugu: WEBGUNEAN
          nabigatzen ari zarela bete dituzun formularioen bidez, posta elektroniko bidez, AllInOneCommerce-k sare sozialetan
          dituen profilen bidez edo beste bideren bat erabiliz.
        </p>
        <p>
          Zehazki, AllInOneCommerce-k kategoria hauetako datuak tratatzen ditu:
        </p>
        <p>
          Harremanetarako datu identifikatzaileak (izena, abizenak, NAN zenbakia, postako helbidea, helbide elektronikoa, telefonoa...).
          Bankuko datuak eta transakzio ekonomikoei buruzkoak.
          Identifikazio-kodeak eta -pasahitzak, hala nola WEBGUNEKO erabiltzaile erregistratua.
          Interneteko nabigazio-datuak (IP helbidea, webguneetako bisitak, wifi-sareetarako konexioak...).
          AllInOneCommerce-k antolatutako ekitaldietako irudiak.
          Datu pertsonalak, hala nola trebakuntzari eta enpleguari buruzkoak (lan-eskaerei edo eskaintzei lotuta, edo zure borondatez parte hartzen duzun AllInOneCommmerce-n hautaketa-prozesuei lotuta).
          Gure instalazioetako sarreretan jarritako bideozaintzako sistemak jasotako irudiak.
        </p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <h3>4. Zer helbururekin eta zer legitimaziorekin tratatzen ditugu zure datu pertsonalak?</h3>
        <p>
          Helburu hauek ditu zure datu pertsonalen tratamenduak:
        </p>
        <p>
          WEBGUNEAREN erabiltzaile gisa zure erregistroa kudeatzea eta izapidetzea, posible denean.
          AllInOneCommerce-k WEBGUNEAREN bidez zure eskura jartzen dituen eduki eta zerbitzuen erabilera kudeatzea, barne direla blogeko zerbitzuak, sare sozialetakoak edo WEBGUNEAREN bidez eskura daitezkeen beste funtzioak.
          AllInOneCommerce-n produktuen edo zerbitzuen kontratazioa izapidetzea eta kudeatzea (kontratazio hori WEBGUNEAREN bidez nahiz beste edozein modutara egiten dela ere), produktu horien bidalketa izapidetzea, eta, oro har, gure produktu eta zerbitzuen hartzaile zaren aldetik, gurekiko harremana mantentzea, kudeatzea eta kontratuzko harremana kontrolatzea.
          WEBGUNEAREN edo posta elektronikoaren bidez egindako informazio-eskaerak, iradokizunak, kexak eta erreklamazioak izapidetzea eta kudeatzea.
          Bide elektronikoak edo bestelakoak erabiliz, AllInOneCommerce-n edo taldeko beste entitate batzuen komunikazio komertzialak eta publizitatea bidaltzea (betiere entitateak ongi identifikatuta badaude www.AllInOneCommerce.com webgunean), haien produktu, zerbitzu, eskaintza eta sustapenei buruz, bai eta entitate horiei buruzko bestelako informazio garrantzitsua ere, betiere zuk horretarako baimena eman baldin baduzu.
          “Aldizkariko-buletina” zerbitzurako harpidetza eta harekin lotutako komunikazio elektronikoen bidalketa kudeatzea, betiere zuk horretarako baimena eman baldin baduzu.
          AllInOneCommerce-k antolatzen dituen eta zure borondatez parte hartzen duzun lehiaketa, jarduera eta ekitaldietako parte-hartzea kudeatzea.
          AllInOneCommerce-k antolatutako lehiaketa, jarduera eta ekitaldiak zabaldu eta kudeatzea, horretarako baimena eman baduzu.
          Zure lan-eskaintza, lan-eskaintzako izen-ematea eta hautaketa-prozesuko parte-hartzea kudeatzea.
          Pertsonen eta ondasunen segurtasuna eta osotasuna bermatzea, gure instalazioen sarreran eta barruan dauden bideozaintzako sistemen bidez irudiak hartuz.
        </p>
        <p>
          Datuak babesteari buruzko araudi aplikagarrian jasotakoarekin bat, hauek dira AllInOneCommerce-k zure datu
          pertsonalak tratatzeko oinarriak: (i) zure baimena, zeina zure borondatez emandako datuok jasotzeko WEBGUNEAN
          erabilitako mekanismoen bidez datuak jasotzean eman baitzenuen; (ii) gurekiko harremana, gure produktuak edo
          zerbitzuak kontratatzeko; edo (iii) AllInOneCommerce-n interes legitimoa, gure instalazioetako bideozaintza-sistemei
          eta hark legitimatutako beste tratamendu batzuei dagokienez.
        </p>
        <p>
          Tratamenduaren oinarria zure baimena denean, edozein unetan eta doan ezezta dezakezu,  7 atalean zehazten den moduan.
        </p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <h3>5. Nori jakinaraziko dizkiogu zure datuak?</h3>
        <p>
          Hirugarren hauei jakinarazi ahal izango dizkiegu zure datuak:
        </p>
        <p>
          Administrazio eta erakunde publikoei, AllInOneCommerce-k erakunde horiei datuak jakinarazteko betebeharra duenean.
          AllInOneCommerce parte den enpresa-taldearen barneko entitateei (betiere entitateak ongi identifikatuta badaude www.elhuyar.eus webgunean), helburu hauetarako: zure eskaerei eta kontsultei erantzuteko, edo entitate horiei edo haien jarduera eta produktuei buruzko komunikazio komertzialak bidaltzeko, betiere zure baimena baldin badugu.
          Zure baimena baldin badugu, AllInOneCommerce-ekin kolaboratzen duten entitateei, AllInOneCommerce-ekin batera beren kanaletan antolatzen dituzten lehiaketa, ekitaldi eta jardueren berri emateko. Datuak emateko unean, zein entitateri emango zaizkion jakinaraziko da.
        </p>
        <p>
          Zure datuen nazioarteko transferentziarik ez da aurreikusten.
        </p>
        <hr>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h3>6. Zenbat denboran gordeko ditugu zure datuak?</h3>
        <p>
          Oro har, baimena ezeztatzen duzun bitartean edo ezabatzeko eskatzen duzun bitartean gordeko ditugu, bai eta
          AllInOneCommerce-n legezko obligazioak betetzeko beharrezkoa den denboran ere.
        </p>
        <p>
          Dena den, bere esku dituen datu pertsonalak ezabatzeko epeak kontrolatzeko barne-politikak ditu martxan AllInOneCommerce
          FUNDAZIOAK; beraz, litekeena da jaso ziren helbururako beharrezkoak edo egokiak ez direnean ezabatzea.
        </p>
        <p>
          Beste hau ere zehaztu dugu:
        </p>
        <p>
          Gure instalazioetako bideozaintza-sistemari dagokionez, jasotako irudiak gehienez hilabetean gordeko dira.
          Lan-eskaintzak kudeatzeko datuei dagokienez, berriz, gehienez 2 urtean gordeko dira.
        </p>
        <hr>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h3>7. Zer eskubide dituzu?</h3>
        <p>
          Datuak babesteko araudiak zure datu pertsonalen gaineko eskubide hauek aitortzen ditu. Tratamenduak irauten duen
          bitartean gauzatu ahal izango dituzu. Eskubidea duzu:
        </p>
        <p>
          Datuetara sartzeko: datuetara sartzeko eskubidea duzu, jakiteko zer datu pertsonal ari garen tratatzen.
          Datuak zuzendu edo ezaba ditzagun eskatzeko: Egoera jakin batzuetan, eskubidea duzu tratatzen ari garen eta zuzenak ez diren datuak aldatzeko; eta ezabatzeko ere eska dezakezu, esate baterako datuak dagoeneko ez direnean beharrezkoak haiek eskatu ziren helburuetarako.
          Datuen tratamendua mugatu dezagun eskatzeko: Egoera jakin batzuetan, zure datuen tratamendua mugatzeko eska dezakezu. Kasu horretan, erreklamazioak egiteko edo haietatik babesteko bakarrik gordeko ditugu, datuak babesteari dagokionez aplikatzekoa den araudiak ezarritakoari jarraikiz.
          Datuak eramateko: Egoera jakin batzuetan, eskubidea duzu zuri dagozkizun eta guri eman dizkiguzun datuak erabilera komuneko eta irakurketa mekanikoko formatu egituratu batean jaso eta beste tratamendu-arduradun bati emateko.
          Zure datuak tratatzeari uko egiteko: Egoera jakin batzuetan, eta zure egoera partikularrarekin lotutako arrazoiak direla medio, eskubidea duzu zure datuak tratatzeari uko egiteko. Kasu horretan, datuak tratatzeari utziko diogu, kasu hauetan izan ezik: premiazko arrazoi legitimoren bat badago, edo erreklamazioak aurkeztu edo haietatik babestu behar badugu.
        </p>
        <p>
          Emandako baimena edozein unetan atzera botatzeko eskubidea duzu, baina horrek ez dio eragiten baimena atzera bota aurretik egindako tratamenduaren zilegitasunari.
        </p>
        <p>
          Eskubide horiek baliatzeko, idatzizko eskaera bat bidali behar zaio AllInOneCommerce-ri 1 atalean adierazitako
          helbidera edo helbide elektroniko honetara: info@AllInOneCommerce.com
        </p>
        <p>
          Zure eskubideak baliatzean gogobetetzen ez bazara, erreklamazioa aurkeztu ahal izango duzu datuak babesteko
          agintaritza eskudunaren aurrean (Espainian, Datuak Babesteko Espainiako Agentzia). Harekin harremanetan jartzeko,
          ikusi webgunea: www.aepd.es.
        </p>
        <hr>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h3>8. Segurtasun-neurriak</h3>
        <p>
          AllInOneCommerce-k konpromisoa hartzen du konfidentzialtasun osoz eta sekretu-betebeharra betez tratatzeko
          erabiltzailearen datu pertsonalak, datuak babesteko araudian ezartzen denarekin bat. Horretarako, behar diren
          segurtasun-neurri teknikoak eta antolakuntzazkoak hartuko ditu zure datu pertsonalen segurtasuna bermatzeko
          eta datu horiek aldatzea, galtzea eta baimenik gabe tratatzea eta/edo eskuratzea saihesteko, teknologiaren egoera,
          gordetako datuen izaera eta jasan ditzaketen arriskuak kontuan izanik.
        </p>
        <hr>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h3>9. Cookie-politika</h3>
        <p>
          Halaber, jakinarazten dizugu AllInOneCommerce-k cookie-politika bat ere baduela.
        </p>
        <br>
        <br>
      </div>

      <div th:replace="fragments :: footer"/>
    </div>
    <div th:replace="fragments :: Up_Button"/>
    <div th:replace="fragments :: final_scripts"/>
  </body>
</html>