<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recover my password</title>
</head>
<body>
<h1>RECOVER MY PASSWORD</h1>
<form th:action="@{/auth/recoverPassword}" method="post">
    <input type="hidden" name="token" id="token" th:value="${token}">
    <input type="hidden" name="code" id="code" th:value="${code}">
    Type new password here: <input type="password" name="newPassword" id="newPassword" placeholder="Type new password" required="required"><br/>
    Repeat new password here: <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat new password" required="required"><br/>
    <button type="submit">Update Password!</button>
    <p th:if="${recoveryError == true}">An error occurred! Are you sure you typed the password correctly?</p>
</form>
</body>
</html>