<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">//injectamos una API de thymleaf que se usa con th:
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{./register/send}" method="post" th:object="${login}"> //todo lo que use th: con su simbolo dinamico
    <label>
        <input type="text" th:field="*{email}">
        <input type="password" th:field="*{password}"/>
    </label>
    <button type="submit">Log In</button>
</form>

<form th:action="@{./register/register}" method="post" th:object="${signup}"> //todo lo que use th: con su simbolo dinamico
    <label>
        <input type="text" th:field="*{alias}">
        <input type="text" th:field="*{name}">
        <input type="text" th:field="*{lastName}">
        <input type="date" th:field="*{birthDay}">//Hay que mirar como recibir estos datos
        <input type="text" th:field="*{email}">
        <input type="password" th:field="*{password}"/>
    </label>
    <button type="submit">Sign Up</button>

</form>
</body>
</html>
//$ el objeto mismo
//* como el punto en java, coger los atributos del objeto
//@ genera links (URL) dinamicos