<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: HTML_head" />
<body>
<div class="fh5co-loader"></div>
<div id="page">
    <div th:replace="fragments :: header"/>

    <div id="fh5co-product">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Pedidos</h2>
                </div>
            </div>
            <div class="row product">
                <div class="col-md-1 col-md-offset-2 animate-box">
                    <div class="product-grid4 sale">
						<span class="sale">
							<span class="girau">Estado</span>
						</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 40px;">
                    <div class="desc">
                        <h3><a href="single.html">ID del pedido</a></h3>
                        <p style="margin-bottom: 0%;">Nº Productos: 3</p>
                        <p style="margin-top: 0%;margin-bottom: 0%;">Fecha: 01/01/2020</p>
                    </div>
                </div>
                <div class="col-md-5 animate-box">
                    <form action="">
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <select name="estadoId" class="btn" style="font-size: 16px;">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Pagado">Pagado</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                <button class="btn">Cambiar estado</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <button type="submit" class="btn">Ver pedido</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row product">
                <div class="col-md-1 col-md-offset-2 animate-box">
                    <div class="product-grid4 sale">
						<span class="sale">
							<span class="girau">Estado</span>
						</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 40px;">
                    <div class="desc">
                        <h3><a href="single.html">ID del pedido</a></h3>
                        <p style="margin-bottom: 0%;">Nº Productos: 3</p>
                        <p style="margin-top: 0%;margin-bottom: 0%;">Fecha: 01/01/2020</p>
                    </div>
                </div>
                <div class="col-md-5 animate-box">
                    <form action="">
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <select name="estadoId" class="btn" style="font-size: 16px;">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Pagado">Pagado</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                <button class="btn">Cambiar estado</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <button type="submit" class="btn">Ver pedido</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row product">
                <div class="col-md-1 col-md-offset-2 animate-box">
                    <div class="product-grid4 sale">
						<span class="sale">
							<span class="girau">Estado</span>
						</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 40px;">
                    <div class="desc">
                        <h3><a href="single.html">ID del pedido</a></h3>
                        <p style="margin-bottom: 0%;">Nº Productos: 3</p>
                        <p style="margin-top: 0%;margin-bottom: 0%;">Fecha: 01/01/2020</p>
                    </div>
                </div>
                <div class="col-md-5 animate-box">
                    <form action="">
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <select name="estadoId" class="btn" style="font-size: 16px;">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Pagado">Pagado</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                <button class="btn">Cambiar estado</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <button type="submit" class="btn">Ver pedido</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row product">
                <div class="col-md-1 col-md-offset-2 animate-box">
                    <div class="product-grid4 sale">
						<span class="sale">
							<span class="girau">Estado</span>
						</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 40px;">
                    <div class="desc">
                        <h3><a href="single.html">ID del pedido</a></h3>
                        <p style="margin-bottom: 0%;">Nº Productos: 3</p>
                        <p style="margin-top: 0%;margin-bottom: 0%;">Fecha: 01/01/2020</p>
                    </div>
                </div>
                <div class="col-md-5 animate-box">
                    <form action="">
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <select name="estadoId" class="btn" style="font-size: 16px;">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Pagado">Pagado</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                <button class="btn">Cambiar estado</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 text-right">
                                <button type="submit" class="btn">Ver pedido</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>

        </div>
    </div>

    <div th:replace="fragments :: footer"/>
</div>
<div th:replace="fragments :: Up_Button"/>
<div th:replace="fragments :: final_scripts"/>
</body>
</html>